<!--<mat-toolbar color="primary">
    <img width="40" alt="Angular Logo" src="../../assets/MGSF.png" />
    <div class="spacer"></div>

    <span> B. DATOS DE UBICACIÓN DE MATRIZ</span>
</mat-toolbar>
<div class="main" role="main">

    <div class="contenido">

        <div>
            <form class="example-form">
                <h3>1. LA ORGANIZACIÓN DISPONE DE SEDE PROPIA?</h3>
                <table>
                    <tr>
                        <td>

                            <mat-form-field appearance="fill">
                                <mat-label>Seleccione una Opción</mat-label>
                                <mat-select>
                                    <option value="1" onclick="dispone.disabled=false">Si</option>
                                    <option value="2" onclick="dispone.disabled=true">No</option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-label>Superficie (ha) o (m2)</mat-label>
                            <mat-form-field class="example-full-width">
                                <mat-label>Especifique</mat-label>
                                <input matInput id="dispone" placeholder="" value="" type="text" disabled>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <br>

        <div>
            <h3>2. DATOS DE LA UBICACIÓN DE LA ORGANIZACIÓN</h3>
            <form class="example-form">
                <mat-form-field appearance="fill">
                    <mat-label>Provincia Matriz</mat-label>
                    <select matNativeControl required>
                        <option value="0">Bolívar</option>
                        <option value="1">Cañar</option>
                        <option value="2">Carchi</option>
                        <option value="3">Chimborazo</option>
                        <option value="4">Cotopaxi</option>
                        <option value="5">El Oro</option>
                        <option value="6">Esmeraldas</option>
                        <option value="7">Galápagos</option>
                        <option value="8">Guayas</option>
                        <option value="9">Imbabura</option>
                        <option value="10">Loja</option>
                        <option value="11">Los Ríos</option>
                        <option value="12">Manabí</option>
                        <option value="13">Morona Santiago</option>
                        <option value="14">Napo</option>
                        <option value="15">Orellana</option>
                        <option value="16">Pastaza</option>
                        <option value="17">Pichincha</option>
                        <option value="18">Santa Elena</option>
                        <option value="19">Santo Domingo de los Tsáchilas</option>
                        <option value="20">Sucumbíos</option>
                        <option value="21">Tungurahua</option>
                        <option value="22">Zamora Chinchipe</option>
                        <option value="23">Azuay </option>
                    </select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Dirección</mat-label>
                    <input matInput placeholder="Dirección Matríz" value="" type="text">
                </mat-form-field>



                <mat-form-field appearance="fill">
                    <mat-label>Cantón Matriz</mat-label>
                    <select matNativeControl required>
                        <option value="0">Quito</option>

                    </select>
                </mat-form-field>


                <mat-form-field appearance="fill">
                    <mat-label>Sector</mat-label>
                    <input matInput placeholder="Sector" value="" type="text">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Parroquia Matriz</mat-label>
                    <select matNativeControl required>
                        <option value="0">Itchimbia</option>

                    </select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Superficie</mat-label>
                    <input matInput placeholder="Sector" value="" type="text">
                </mat-form-field>
                
                <br>
            </form>
        </div>
        <br>

        <div>
            <form class="example-form">
                <h3>3. COORDENADAS UTM(GPS) DE LA SEDE DE LA ORGANIZACIÓN</h3>

                <mat-form-field class="fill">
                    <mat-label>X</mat-label>
                    <input matInput placeholder="Coordenadas X" value="" type="text">
                </mat-form-field>
                <br>
                <mat-form-field class="fill">
                    <mat-label>Y</mat-label>
                    <input matInput placeholder="Coordenadas Y" value="" type="text">
                </mat-form-field>
                <br>
                <mat-form-field class="fill">
                    <mat-label>Z</mat-label>
                    <input matInput placeholder="Coordenadas Z" value="" type="text">
                </mat-form-field>
            </form>
        </div>
        <br>
        <div>
            <table style="width:80%">
                <tr>
                    <th>Hemisferio</th>
                    <td>N</td>
                    <td><input type="radio" name="hemisferio"></td>
                    <td>S</td>
                    <td><input type="radio" name="hemisferio"></td>

                </tr>
                <tr>
                    <th rowspan="2">Zona</th>
                    <td>15</td>
                    <td><input type="radio" name="zona"></td>
                    <td>16</td>
                    <td><input type="radio" name="zona"></td>
                </tr>
                <tr>
                    <td>17</td>
                    <td><input type="radio" name="zona"></td>
                    <td>18</td>
                    <td><input type="radio" name="zona"></td>
                </tr>
            </table>
        </div>
        <br>
        <div>
            <form class="example-form">
                <h3>4. CÓDIGO CATASTRAL DE LA SEDE DE LA ORGANIZACIÓN</h3>

                <mat-form-field style="width:50%">
                    <mat-label>Código Catastral</mat-label>
                    <input matInput placeholder="Código catastral" value="" type="text">
                </mat-form-field>
                <br>
            </form>
        </div>
        <div class="botones">
            <button mat-raised-button color="warn" [routerLink]="'/PaginaA'">Anterior</button>
            <button mat-raised-button style="background-color: #5cb85c !important; color: white !important;"
                [routerLink]="'/PaginaC'">Siguiente</button>
        </div>


    </div>

    <div class="definiciones">
        <h1>Definiciones</h1>
        <mat-list role="list">
            <mat-list-item role="listitem">definición 1</mat-list-item>
            <mat-list-item role="listitem">definición 2</mat-list-item>
            <mat-list-item role="listitem">definición 3</mat-list-item>
        </mat-list>
    </div>



</div>-->

<div class="content">
    <div class="title">
        <h1>B. DATOS DE UBICACIÓN DE MATRIZ</h1>
    </div>
    <mat-card class="form-card">
        <mat-card-header>
            <mat-card-title>1. LA ORGANIZACIÓN DISPONE DE SEDE PROPIA?</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>Seleccione una respuesta</mat-label>
                    <mat-select  matNativeControl required #SedePropia>
                        <mat-option value="Si" >Si</mat-option>
                        <mat-option value="No" >No</mat-option>
                    </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Superficie (ha o m2)</mat-label>
                <input matInput type='text' name='Superficie'>
            </mat-form-field>
        </mat-card-content>
    </mat-card>
    <mat-card class="form-card">
        <mat-card-header>
            <mat-card-title>2. DATOS DE LA UBICACIÓN DE LA ORGANIZACIÓN Y
                COORDENADAS UTM (GPS) DE LA SEDE DE LA ORGANIZACIÓN</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-gis></app-gis>
        </mat-card-content>
    </mat-card>

    <!--<mat-card class="form-card">
        <mat-card-header>
            <mat-card-title>2. DATOS DE LA UBICACIÓN DE LA ORGANIZACIÓN</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>Provincia Matriz</mat-label>
                <mat-select matNativeControl required>
                    <mat-option value="0">Bolívar</mat-option>
                    <mat-option value="1">Cañar</mat-option>
                    <mat-option value="2">Carchi</mat-option>
                    <mat-option value="3">Chimborazo</mat-option>
                    <mat-option value="4">Cotopaxi</mat-option>
                    <mat-option value="5">El Oro</mat-option>
                    <mat-option value="6">Esmeraldas</mat-option>
                    <mat-option value="7">Galápagos</mat-option>
                    <mat-option value="8">Guayas</mat-option>
                    <mat-option value="9">Imbabura</mat-option>
                    <mat-option value="10">Loja</mat-option>
                    <mat-option value="11">Los Ríos</mat-option>
                    <mat-option value="12">Manabí</mat-option>
                    <mat-option value="13">Morona Santiago</mat-option>
                    <mat-option value="14">Napo</mat-option>
                    <mat-option value="15">Orellana</mat-option>
                    <mat-option value="16">Pastaza</mat-option>
                    <mat-option value="17">Pichincha</mat-option>
                    <mat-option value="18">Santa Elena</mat-option>
                    <mat-option value="19">Santo Domingo de los Tsáchilas</mat-option>
                    <mat-option value="20">Sucumbíos</mat-option>
                    <mat-option value="21">Tungurahua</mat-option>
                    <mat-option value="22">Zamora Chinchipe</mat-option>
                    <mat-option value="23">Azuay </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Dirección</mat-label>
                <input matInput type='text' name='Direccion'>
            </mat-form-field>
        </mat-card-content>

        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>Cantón Matriz</mat-label>
                <mat-select matNativeControl required>
                        <mat-option value="0">Quito</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Sector</mat-label>
                <input matInput type='text' name='Sector'>
            </mat-form-field>
        </mat-card-content>

        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>Parroquia Matriz</mat-label>
                <mat-select matNativeControl required>
                    <mat-option value="0">Ichimbia</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Superficie</mat-label>
                <input matInput type='number' name='Superficie'>
            </mat-form-field>
        </mat-card-content>
    </mat-card>

    <mat-card class="form-card">
        <mat-card-header>
            <mat-card-title>3. COORDENADAS UTM(GPS) DE LA SEDE DE LA ORGANIZACIÓN</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="5%">
                <mat-form-field appearance="outline">
                    <mat-label>Coordenada X</mat-label>
                    <input matInput type='text' name='Coordenada X'>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Coordenada Y</mat-label>
                    <input matInput type='text' name='Coordenada Y'>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Coordenada Z</mat-label>
                    <input matInput type='text' name='Coordenada Z'>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Hemisferio</mat-label>
                    <mat-select matNativeControl required>
                        <mat-option value="0">Norte</mat-option>
                        <mat-option value="1">Sur</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Zona</mat-label>
                    <mat-select matNativeControl required>
                        <mat-option value="0">15</mat-option>
                        <mat-option value="0">16</mat-option>
                        <mat-option value="0">17</mat-option>
                        <mat-option value="0">18</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>-->

    <mat-card class="form-card">
        <mat-card-header>
            <mat-card-title>3. CÓDIGO CATASTRAL DE LA SEDE DE LA ORGANIZACIÓN</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="5%">
                <mat-form-field appearance="outline">
                    <mat-label>Código Catastral (opcional)</mat-label>
                    <input matInput type='number' name='CodigoCastral Z'>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>
    <div class="botones">
        <button mat-raised-button color="warn" [routerLink]="'/PaginaA'">Anterior</button>
        <button mat-raised-button style="background-color: #5cb85c !important; color: white !important;"
            [routerLink]="'/PaginaC'">Siguiente</button>
    </div>
</div>