
    .spacer {
        margin-left: 5%;

    }

    .main {
        flex-direction: row;
        padding-top: 2%;
        display: flex;
        min-height: 80%;
    }

    .contenido {
        float: left;
        width: 62.5%;
        border: 1px solid gray;
        margin-left: 2.5%;
        padding: 1%;
    }

    .definiciones {
        float: right;
        width: 25%;
        border: 1px solid gray;
        margin-left: 2.5%;
        margin-right: 5%;
        padding: 1%;

    }

    mat-form-field {
        margin-left: 5%;
        
    }

    .home{
        display: flex;
        flex-wrap: wrap;
    }
    mat-label {
        flex: 1;
        margin-left: 1%;

    }

    table {
        flex: 2;
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        flex: auto;
        text-align: justify;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    button {
        margin: 1%;
    }

    .botones {
        float: right;
        flex-direction: row;
        display: flex;

    }

    .example-full-width {

        padding-left: 0%;

    }
