<mat-toolbar color="primary">
    <img width="40" alt="Angular Logo" src="../../assets/MGSF.png" />
    <div class="spacer"></div>

    <span> B. DATOS DE UBICACIÓN DE MATRIZ</span>
</mat-toolbar>
<div class="main" role="main">

    <div class="contenido">

        <div>
            <form class="example-form">
                <h3>1. LA ORGANIZACIÓN DISPONE DE SEDE PROPIA?</h3>
                <table>
                    <tr>
                        <td>

                            <mat-form-field appearance="fill">
                                <mat-label>Seleccione una Opción</mat-label>
                                <mat-select>
                                    <mat-option (click) = toogleTag() value="1" onclick="dispone.disabled=false">Si</mat-option>
                                    <mat-option (click) = toogleTag() value="2" onclick="dispone.disabled=true">No</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <!-- <label>Superficie (ha) o (m2)</label>                        
                        <td>                                                        
                            <mat-form-field class="spacer">
                                <mat-label>Especifique</mat-label>
                                <input matInput id="dispone" placeholder="" value="" type="text" disabled>
                            </mat-form-field>
                        </td> -->
                    </tr>
                </table>
            </form>
        </div>
        <br>

        <div *ngIf = "isShow" >
            <h3>2. DATOS DE LA UBICACIÓN DE LA ORGANIZACIÓN</h3>
            <form class="example-form">
                <tr>
                <td>
                <mat-form-field appearance="fill">
                    <mat-label>Provincia Matriz</mat-label>
                    <select matNativeControl required>
                        <option value="0">Bolívar</option>
                        <option value="1">Cañar</option>
                        <option value="2">Carchi</option>
                        <option value="3">Chimborazo</option>
                        <option value="4">Cotopaxi</option>
                        <option value="5">El Oro</option>
                        <option value="6">Esmeraldas</option>
                        <option value="7">Galápagos</option>
                        <option value="8">Guayas</option>
                        <option value="9">Imbabura</option>
                        <option value="10">Loja</option>
                        <option value="11">Los Ríos</option>
                        <option value="12">Manabí</option>
                        <option value="13">Morona Santiago</option>
                        <option value="14">Napo</option>
                        <option value="15">Orellana</option>
                        <option value="16">Pastaza</option>
                        <option value="17">Pichincha</option>
                        <option value="18">Santa Elena</option>
                        <option value="19">Santo Domingo de los Tsáchilas</option>
                        <option value="20">Sucumbíos</option>
                        <option value="21">Tungurahua</option>
                        <option value="22">Zamora Chinchipe</option>
                        <option value="23">Azuay </option>
                    </select>
                </mat-form-field>
                </td>    
                <td>    
                <mat-form-field appearance="fill">
                    <mat-label>Dirección</mat-label>
                    <input matInput placeholder="Dirección Matríz" value="" type="text">
                </mat-form-field>
                </td>                    
                </tr>  
                <br>              
                <tr>
                <td>    
                <mat-form-field appearance="fill">
                    <mat-label>Cantón Matriz</mat-label>
                    <select matNativeControl required>
                        <option value="0">Quito</option>
                        <option value="1">Mera</option>
                        <option value="2">Santa Clara</option>
                    </select>
                </mat-form-field>
                </td>    
                
                <mat-form-field appearance="fill">
                    <mat-label>Sector</mat-label>
                    <input matInput placeholder="Sector" value="" type="text">
                </mat-form-field>
                </tr>
                <br>
                <tr>
                <td>                
                <mat-form-field appearance="fill">
                    <mat-label>Parroquia Matriz</mat-label>
                    <select matNativeControl required>
                        <option value="0">Itchimbia</option>

                    </select>
                </mat-form-field>
                </td>
                <td>
                <mat-form-field appearance="fill">
                    <mat-label>Superficie</mat-label>
                    <input matInput placeholder="Sector" value="" type="text">
                </mat-form-field>
                </td>
                </tr>
                <br>
            </form>
        </div>
        <br>

        <div *ngIf = "isShow">
            <form class="example-form">
                <h3>3. COORDENADAS UTM(GPS) DE LA SEDE DE LA ORGANIZACIÓN</h3>

                <mat-form-field class="fill">
                    <mat-label>X</mat-label>
                    <input matInput placeholder="Coordenadas X" value="" type="text">
                </mat-form-field>
                <br>
                <mat-form-field class="fill">
                    <mat-label>Y</mat-label>
                    <input matInput placeholder="Coordenadas Y" value="" type="text">
                </mat-form-field>
                <br>
                <mat-form-field class="fill">
                    <mat-label>Z</mat-label>
                    <input matInput placeholder="Coordenadas Z" value="" type="text">
                </mat-form-field>
            </form>
        </div>
        <br>
        <div *ngIf = "isShow">
            <table style="width:80%">
                <tr>
                    <th>Hemisferio</th>
                    <td>N</td>
                    <td><input type="radio" name="hemisferio"></td>
                    <td>S</td>
                    <td><input type="radio" name="hemisferio"></td>

                </tr>
                <tr>
                    <th rowspan="2">Zona</th>
                    <td>15</td>
                    <td><input type="radio" name="zona"></td>
                    <td>16</td>
                    <td><input type="radio" name="zona"></td>
                </tr>
                <tr>
                    <td>17</td>
                    <td><input type="radio" name="zona"></td>
                    <td>18</td>
                    <td><input type="radio" name="zona"></td>
                </tr>
            </table>
        </div>
        <br>
        <div *ngIf = "isShow">
            <form class="example-form">
                <h3>4. CÓDIGO CATASTRAL DE LA SEDE DE LA ORGANIZACIÓN</h3>

                <mat-form-field style="width:50%">
                    <mat-label>Código Catastral</mat-label>
                    <input matInput placeholder="Código catastral" value="" type="text">
                </mat-form-field>
                <br>
            </form>
        </div>
        <div *ngIf = "isShow" class="botones">
            <button mat-raised-button color="warn" [routerLink]="'/PaginaA'">Anterior</button>
            <button mat-raised-button style="background-color: #5cb85c !important; color: white !important;"
                [routerLink]="'/PaginaC'">Siguiente</button>
        </div>
    </div>
    <div class="definiciones" >
        <h1>Definiciones</h1>
        <mat-list role="list">
            <mat-list-item role="listitem">definición 1</mat-list-item>
            <mat-list-item role="listitem">definición 2</mat-list-item>
            <mat-list-item role="listitem">definición 3</mat-list-item>
        </mat-list>
    </div>
</div>