<div class="content">
    <div class="title">
        <h1>E. Datos Jurídicos de la Organización</h1>
    </div>
    <mat-card class="form-card">
        <mat-card-header>
            <mat-card-title>Datos de la Organización</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="5%">
                <mat-form-field appearance="outline">
                    <mat-label>Figura Organizativa</mat-label>
                    <input matInput type="text">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Código SUIOS</mat-label>
                    <input matInput type="text">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Grado o Nivel</mat-label>
                    <input matInput type="text">
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="form-card">
        <mat-card-header>
            <mat-card-title>¿Qué institución le otorgó a la organización la personalidad jurídica?</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="5%">
                <mat-form-field appearance="outline">
                    <mat-label>Institución</mat-label>
                    <mat-select #institucion>
                        <mat-option value="mag">MAG</mat-option>
                        <mat-option value="seps">SEPS</mat-option>
                        <mat-option value="mies">MIES</mat-option>
                        <mat-option value="otro">Otro</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="institucion.value == 'otro'">
                    <mat-label>Especifique</mat-label>
                    <input matInput type="text">
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="form-card">
        <mat-card-header>
            <mat-card-title>¿Bajo qué instrumento legal obtuvo la personería jurídica a la organización?
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Instrumento Legal</mat-label>
                    <mat-select #instrumento>
                        <mat-option value="decreto">Decreto</mat-option>
                        <mat-option value="roeps">ROEPS</mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="instrumento.value">
                    <div fxLayout="row wrap" fxLayoutGap="5%">
                        <mat-form-field appearance="outline">
                            <mat-label>{{instrumento.value == 'decreto' ? 'Decreto' : 'ROEPS'}} Nro</mat-label>
                            <input matInput type="text">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Fecha {{instrumento.value == 'decreto' ? 'Decreto' : 'ROEPS'}}</mat-label>
                            <input matInput [matDatepicker]="dp1" disabled>
                            <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                            <mat-datepicker #dp1 disabled="false"></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row wrap" fxLayoutGap="5%">
                        <mat-form-field appearance="outline">
                            <mat-label>{{instrumento.value == 'decreto' ? 'Resolución' : 'Acuerdo'}} Nro</mat-label>
                            <input matInput type="text">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Fecha {{instrumento.value == 'decreto' ? 'Resolución' : 'Acuerdo'}}</mat-label>
                            <input matInput [matDatepicker]="dp2" disabled>
                            <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                            <mat-datepicker #dp2 disabled="false"></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="form-card">
        <mat-card-header>
            <mat-card-title>Carga de Archivos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="5%">
            </div>
            <mat-list>
                <mat-list-item>
                  <!-- <h3 matLine> Archivos </h3> -->
                  <h3 matLine>
                    <span> Estatuto de Creación de la Organización </span>
                    <span class="demo-2"> -- Acuerdo de Personería Jurídica </span>
                  </h3>
                  <p matLine>Suba un solo archivo PDF con ambos documentos</p>
                </mat-list-item>
                <mat-list-item>
                    <input type="file" hidden #fileEstatutoYAcuerdo (change)="onFileEstatutoYAcuerdoChange($event)">
                    <button mat-mini-fab color="primary" (click)="fileEstatutoYAcuerdo.click()">
                        <mat-icon>attach_file</mat-icon>
                    </button>
                    <span>&nbsp; {{fEstatutoYAcuerdo?.name || 'No hay archivo adjunto'}}</span>
                </mat-list-item>
              </mat-list>
        </mat-card-content>
    </mat-card>

</div>