<style>
    .spacer {
        margin-left: 5%;
    }

    .main {
        flex-direction: row;
        padding-top: 2%;
        display: flex;
        min-height: 80%;
    }

    .contenido {
        float: left;
        width: 62.5%;
        border: 1px solid gray;
        margin-left: 2.5%;
        padding: 1%;
    }

    .definiciones {
        float: right;
        width: 25%;
        border: 1px solid gray;
        margin-left: 2.5%;
        margin-right: 5%;
        padding: 1%;

    }

    mat-form-field {
        margin-left: 1%;
    }

    mat-label {
        margin-left: 1%;

    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    button {
        margin: 1%;
    }

    .botones {
        float: right;
        flex-direction: row;
        display: flex;

    }

    .example-full-width {
        padding-top: 1%;
    }
</style>
<mat-toolbar color="primary">
    <img width="40" alt="Angular Logo" src="../../assets/MGSF.png" />
    <div class="spacer"></div>

    <span>K. VERIFICACIÓN DEL TÉCNICO</span>
</mat-toolbar>
<div class="main" role="main">
    <div class="contenido">
        <h3>1. Elija la organización de la cual va a ingresarlos documentos para su correspondiente verificación</h3>

        <mat-selection-list #organizaciones>
            <mat-list-option>Organización 0</mat-list-option>
            <mat-list-option>Organización 1</mat-list-option>
            <mat-list-option>Organización 2</mat-list-option>
            <mat-list-option>Organización 3</mat-list-option>
            <mat-list-option>Organización 4</mat-list-option>
            <mat-list-option>Organización 5</mat-list-option>
            <mat-list-option>Organización 6</mat-list-option>
            <mat-list-option>Organización 7</mat-list-option>
        </mat-selection-list>
        <br>
        <p>
            Organizaciones Seleccionadas: {{organizaciones.selectedOptions.selected.length}}
        </p>
        <br><br>
        <div class="botones">
            <button mat-raised-button color="warn" [routerLink]="'/PaginaJ'">Anterior</button>
            <button mat-raised-button style="background-color: #5cb85c !important; color: white !important;" [routerLink]="'/PaginaL'">Siguiente</button>
        </div>


    </div>

    <div class="definiciones">
        <h1>Definiciones</h1>
        <mat-list role="list">
            <mat-list-item role="listitem">definición 1</mat-list-item>
            <mat-list-item role="listitem">definición 2</mat-list-item>
            <mat-list-item role="listitem">definición 3</mat-list-item>
        </mat-list>
    </div>

</div>