<form>
    <div class="principal">
    <div class="Contenido">
    <h2 style="padding-left:15px ; text-align: left;background-color: #5d87fa; color: antiquewhite;">C. DATOS DEL REPRESENTANTE LEGAL </h2>
    <h3>1. DATOS DEL REPRESENTANTE LEGAL</h3>
    <table>
            <tr>
                <td><label for="cedula">NÚMERO DE CEDULA</label></td>
                <td><input id="cedula" type="text"></td>
                <td><label for="nombre">NOMBRES Y APELLIDOS</label></td>
                <td><input id="cedula" type="text"></td>
            </tr>
            <br>
            <tr>
                <td><label for="fecha">FECHA DE NACIMIENTO</label></td>
                <td><input id="Fecha" type="date"></td>
            </tr>
            <br>
            <tr>
                <td><label for="genero">GÉNERO</label></td>
                <td><mat-form-field appearance="fill">
                    <select matNativeControl required>
                        <option value="0">Femenino</option>
                        <option value="1">Masculino</option>
                        <option value="2">Otros</option>
                    </select>
                </mat-form-field></td>
                <td>AUTOIDENTIFICACIÓN ETNICA</td>
                <td><mat-form-field appearance="fill">
                        <select matNativeControl required>
                            <option value="0">Indigena</option>
                            <option value="1">Blanco</option>
                            <option value="2">Mestizo</option>
                            <option value="3">Montubio</option>
                            <option value="4">Afroecuatoriano</option>
                            <option value="5">Otra etnia</option>
                        </select>
                    </mat-form-field></td>
            </tr>

            <tr>
                <td><label for="instruccion">INSTRUCCIÓN FORMAL</label></td>
                <td><mat-form-field appearance="fill">
                    <select matNativeControl required>
                        <option value="0">Primaria</option>
                        <option value="1">Secundaria</option>
                        <option value="2">Superior</option>
                        <option value="3">Posgrado</option>
                        <option value="4">Ninguna</option>
                    </select>
                </mat-form-field></td>
            </tr>

            <tr>
                <td><label for="fechaDesignacion">FECHA DE DESIGNACIÓN<br>DE LA REPRESENTACIÓN</label></td>
                <td><input id="fechaDesignacion" type="date"></td>
                <td><label for="fechaRepresentacion">FECHA DE FINALIZACIÓN<br>DE LA REPRESENTACIÓN</label></td>
                <td><input id="fechaRepresentacion" type="date"></td>
            </tr>
            <br>
            <tr>
                <td><label for="telefono">TELÉFONO FIJO</label></td>
                <td><input id="telefono" type="text"></td>
                <td><label for="celular">TELÉFONO CELULAR</label></td>
                <td><input id="celular" type="text"></td>
            </tr>
            <br>
            <tr>
                <td><label for="correo">CORREO ELECTRÓNICO</label></td>
                <td><input id="correo" type="text"></td>
            </tr>         
    </table>
    <div class="botones">
        <button style="background-color: rgba(253, 53, 53, 0.733);">Anterior</button>
        <button style="background-color: rgba(80, 196, 13, 0.733);">Siguiente</button>
    </div>
    </div>    
    <div class="Definiciones">
    <strong><h3>&nbsp;&nbsp;&nbsp;&nbsp;Definiciones</h3></strong>
    <textarea class="def"></textarea>
    </div>
</div>  
</form>
<style>
div.principal{
width: 90%;
padding: 10px;  
overflow: hidden;
} 
div.Contenido{
border: 1px solid #5d87fa;
width: 60%;
height: 16.47cm;
float: left;
}
div.Definiciones{
border: 1px solid #5d87fa;
overflow: hidden;  
}
label{
padding-left: 5px;
margin-right: 5px; 
}
textarea.def{
margin: 0 1rem ;
height: 15cm;
width:90%;
}
textarea.aceptacion{
width:7cm;
height: 10cm;
background-color: rgb(243, 240, 240);
text-justify: initial;
}

.botones {
    margin-top: 1cm;
    margin-right: 1cm;
    float: right;
    flex-direction: row;     
}
</style>
