<mat-toolbar color="primary">
    <img width="40" alt="Angular Logo" src="../../assets/MGSF.png" />
    <div class="spacer"></div>

    <span>C. DATOS DEL REPRESENTANTE LEGAL </span>
</mat-toolbar>

<div class="main" role="main">
    <div class="contenido">
        <div>
            <h3>1. DATOS DEL REPRESENTANTE LEGAL DE LA ORGANIZACIÓN</h3>
            <table>
                    <tr>
                        <td><label for="cedula">CÉDULA</label></td>
                        <td><input id="cedula" type="text"></td>
                        <td><label for="nombre">NOMBRE COMPLETO</label></td>
                        <td><input id="cedula" type="text"></td>
                    </tr>
                    <br>
                    <tr>
                        <td><label for="correo">CORREO ELECTRÓNICO</label></td>
                        <td><input id="correo" type="text" size="40px"></td>
                    </tr>
                    <br>
                    <br>
                    <tr>
                        <td><label for="telefono">TELÉFONO FIJO</label></td>
                        <td><input id="telefono" type="number"></td>
                        <td><label for="celular">TELÉFONO CELULAR</label></td>
                        <td><input id="celular" type="number"></td>
                    </tr>
                    <br>
                    <br>
                    <tr>
                        
                        <td><label for="registrocomo">USTED SE REGISTRA COMO:</label> </td>
                        <td><input id="registrocomo" type="text" size="40px"></td>
                    </tr>    
                    <tr>    
                        <td><label for="fecha">FECHA DE NACIMIENTO</label></td>
                        <td><input id="Fecha" type="date"></td>
                        <td><label for="edad">EDAD</label><input id="edad" type="number" size="50000px"><label>años</label></td>

                    </tr>
                    <br>
                    <tr>
                        <td><label for="genero">GÉNERO</label></td>
                        <td><mat-form-field appearance="fill">
                            <select matNativeControl required>
                                <option value="0">Femenino</option>
                                <option value="1">Masculino</option>
                                <option value="2">Otro</option>
                            </select>
                        </mat-form-field></td>
                        <td><label for="estadocivil">ESTADO CIVIL</label></td>
                        <td><mat-form-field appearance=fill>
                            <select matNativeControl required>
                                <option value="0">Soltero(a)</option>
                                <option value="1">Casado(a)</option>
                                <option value="2">Unión Libre</option>
                                <option value="3">Viudo(a)</option>
                                <option value="4">Divorciado(a)</option>
                            </select>
                        </mat-form-field></td>
                    </tr>
                    <br>
                    <br>
                    <tr>
                        <td><label for="instruccion">AUTOIDENTIFICACIÓN ÉTNICA</label></td>
                        <td>Indígena<input type="radio" name="superficie" onclick="otraetnia.disabled=true">
                        <label><br>Blanco</label><input type="radio" name="superficie" onclick="otraetnia.disabled=true">
                        <label><br>Mestizo</label><input type="radio" name="superficie" onclick="otraetnia.disabled=true">
                        <label><br>Montubio</label><input type="radio" name="superficie" onclick="otraetnia.disabled=true">
                        <label><br>Afroecuatoriano</label><input type="radio" name="superficie" onclick="otraetnia.disabled=true">
                        <label><br>Otra Etnia(Especifique)</label><input type="radio" name="superficie" onclick="otraetnia.disabled=false"></td>

                        <td><label for="otraetnia">Especifique:</label>
                        <input id="otraetnia" type="text" disabled="disabled"></td>
                        
                    </tr>
                    <br><br>
                    <tr>
                        <td><label for="instruccion">INSTRUCCIÓN FORMAL</label></td>
                        <td>Primaria<input type="radio" name="superficie" onclick="añosinstruccion.disabled=false">
                        <label><br>Secundaria</label><input type="radio" name="superficie" onclick="añosinstruccion.disabled=false">
                        <label><br>Superior</label><input type="radio" name="superficie" onclick="añosinstruccion.disabled=false">
                        <label><br>Postgrado</label><input type="radio" name="superficie" onclick="añosinstruccion.disabled=false">
                        <label><br>Ninguna</label><input type="radio" name="superficie" onclick="añosinstruccion.disabled=true"></td>

                        <td><label for="añosinstruccion">¿Cuantos años en el nivel <br> de instrucción seleccionado?</label>
                        <input id="añosinstruccion" type="text" disabled="disabled"></td>
                    </tr>
                    <br><br>
        
                    <tr>
                        <td><label for="fechaDesignacion">FECHA DE DESIGNACIÓN</label></td>
                        <td><input id="fechaDesignacion" type="date"></td>
                        <td><label for="fechaRepresentacion">FECHA DE FINALIZACIÓN</label></td>
                        <td><input id="fechaRepresentacion" type="date"></td>
                    </tr>
                        
            </table>
        </div>

        
        
        <div class="botones">
            <button mat-raised-button color="warn" [routerLink]="'/PaginaB'">Anterior</button>
            <button mat-raised-button style="background-color: #5cb85c !important; color: white !important;" [routerLink]="'/PaginaD'">Siguiente</button>
        </div>


    </div>

    <div class="definiciones">
        <h1>Definiciones</h1>
        <mat-list role="list">
            <mat-list-item role="listitem">Definición 1</mat-list-item>
            <mat-list-item role="listitem">Definición 2</mat-list-item>
            <mat-list-item role="listitem">Definición 3</mat-list-item>
        </mat-list>
    </div>

</div>

<style>

    .spacer {
        margin-left: 5%;
    }

    .main {
        flex-direction: row;
        padding-top: 2%;
        display: flex;
        min-height: 80%;
    }

    .contenido {
        float: left;
        width: 62.5%;
        
        border: 1px solid gray;
        margin-left: 2.5%;
        padding: 1%;
    }

    .definiciones {
        float: right;
        width: 25%;
        border: 1px solid gray;
        margin-left: 2.5%;
        margin-right: 5%;
        padding: 1%;

    }

    mat-form-field {
        margin-left: 1%;
    }

    mat-label {
        margin-left: 1%;

    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    button {
        margin: 1%;
    }

    .botones {
        float: right;
        flex-direction: row;
        display: flex;

    }

    .example-full-width {
        padding-top: 1%;
    }

div.principal{
width: 90%;
padding: 10px;  
overflow: hidden;
} 
div.Contenido{
border: 1px solid #5d87fa;
width: 60%;
height: 16.47cm;
float: left;
}
div.Definiciones{
border: 1px solid #5d87fa;
overflow: hidden;  
}
label{
padding-left: 5px;
margin-right: 5px; 
}
textarea.def{
margin: 0 1rem ;
height: 15cm;
width:90%;
}
textarea.aceptacion{
width:7cm;
height: 10cm;
background-color: rgb(243, 240, 240);
text-justify: initial;
}

.botones {
    margin-top: 1cm;
    margin-right: 1cm;
    float: right;
    flex-direction: row;     
}
</style>