<style>
    .spacer {
        margin-left: 5%;
    }

    .main {
        flex-direction: row;
        padding-top: 2%;
        display: flex;
        min-height: 80%;
    }

    .contenido {
        float: left;
        width: 62.5%;
        border: 1px solid gray;
        margin-left: 2.5%;
        padding: 1%;
    }

    .definiciones {
        float: right;
        width: 25%;
        border: 1px solid gray;
        margin-left: 2.5%;
        margin-right: 5%;
        padding: 1%;

    }

    mat-form-field {
        margin-left: 1%;
    }

    mat-label {
        margin-left: 1%;

    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    button {
        margin: 1%;
    }

    .botones {
        float: right;
        flex-direction: row;
        display: flex;

    }

    .example-full-width {
        padding-top: 1%;
    }
</style>

<mat-toolbar color="primary">
    <img width="40" alt="Angular Logo" src="../../assets/MGSF.png" />
    <div class="spacer"></div>

    <span>E. DATOS JURIDICOS DE LA ORGANIZACIÓN</span>
</mat-toolbar>
<div class="main" role="main">
    <div class="contenido">
        <div>
            <h3>1. Datos de la Organización</h3>
            <form class="example-form">
                <mat-form-field appearance="fill">
                    <mat-label>Figura Organizatavia</mat-label>
                    <input matInput placeholder="" value="" type="text">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Código SUIOS</mat-label>
                    <input matInput placeholder="" value="" type="text">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Grado o Nivel</mat-label>
                    <input matInput id="Grado" type="text">
                </mat-form-field>

                <br>

            </form>
        </div>

        <br>
        <div>
            <form class="example-form">
                <h3>2. Qué institución le otorgó a la organización la personalidad jurídica?</h3>
                <mat-form-field appearance="fill">
                    <mat-label>Institución</mat-label>
                    <mat-select>
                        <mat-option value="1" onclick="institucion.disabled=true">MAG</mat-option>
                        <mat-option value="2" onclick="institucion.disabled=true">SEPS</mat-option>
                        <mat-option value="3" onclick="institucion.disabled=true">MIES</mat-option>
                        <mat-option value="4" onclick="institucion.disabled=false">Otro</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Especifique</mat-label>
                    <input matInput id="institucion" placeholder="" value="" type="text" disabled>
                </mat-form-field>



            </form>

        </div>
        <div>
            <form class="example-form">
                <h3>3. Bajo que instrumento legal obtuvo la personería jurídica a la organización?</h3>
                <mat-form-field appearance="fill">
                    <mat-label>Instrumento Legal</mat-label>
                    <mat-select>
                        <mat-option value="1">Decreto</mat-option>
                        <mat-option value="2">Resolución</mat-option>
                        <mat-option value="3">ROEPS</mat-option>
                        <mat-option value="4">Acuerdo</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Nro</mat-label>
                    <input matInput placeholder="" value="" type="text" >
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Fecha</mat-label>
                    <input matInput placeholder="" value="" type="date">
                </mat-form-field>


            </form>

        </div>
        <div class="botones">
            <button mat-raised-button color="warn" [routerLink]="'/PaginaD'">Anterior</button>
            <button mat-raised-button style="background-color: #5cb85c !important; color: white !important;"
                [routerLink]="'/PaginaF'">Siguiente</button>
        </div>


    </div>

    <div class="definiciones">
        <h1>Definiciones</h1>
        <mat-list role="list">
            <mat-list-item role="listitem">definición 1</mat-list-item>
            <mat-list-item role="listitem">definición 2</mat-list-item>
            <mat-list-item role="listitem">definición 3</mat-list-item>
        </mat-list>
    </div>

</div>