<style>
  .spacer {
      margin-left: 5%;
  }

  .main {
      flex-direction: row;
      padding-top: 2%;
      display: flex;
      min-height: 80%;
  }

  .contenido {

      float: left;
      width: 62.5%;


      border: 1px solid gray;
      margin-left: 2.5%;
      padding: 1%;

  }

  .definiciones {
      float: right;
      width: 25%;
      border: 1px solid gray;
      margin-left: 2.5%;
      margin-right: 5%;
      padding: 1%;

  }

  mat-form-field {
      margin-left: 1%;
  }

  mat-label {
      margin-left: 1%;
  }

  table {

      border-collapse: collapse;
      width: 100%;
  }

  th,
  td {
      text-align: left;
      padding: 8px;
  }

  tr:nth-child(even) {
      background-color: #f2f2f2;
      flex-direction: row;
      display: flex;
  }

  button {
      margin: 1%;
  }

  .botones {
      float: right;
      flex-direction: row;
      display: flex;

  }

  .example-full-width {
      padding-top: 1%;
  }
  input{
      margin-right:200px;
      width: 65%;
  }
  body{
	margin: 0;
	padding: 0;
	background: #fff;

	color: #fff;
	font-family: Arial;
	font-size: 12px;
}




.header{
	position: absolute;
	top: 20px;
	left: 30px;
	z-index: 2;
}

.header div{
	float: left;
	color: rgb(0, 0, 0);
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
}



.login{
	position: absolute;
	top: 250px;
	left: 250px;
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(0, 0, 0, 0.6);
	border-radius: 2px;
	color: rgb(0, 0, 0);
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(0, 0, 0, 0.6);
	border-radius: 2px;
	color: rgb(0, 0, 0);
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=button]{
	width: 260px;
	height: 35px;
	background: rgb(0, 0, 0);
	border: 1px solid rgb(0, 0, 0);
	cursor: pointer;
	border-radius: 2px;
	color: #ffffff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(0,0,0,0);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0);
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}

</style>
<mat-toolbar color="primary">
  <img width="40" alt="Angular Logo" src="../../assets/MGSF.png" />
  <div class="spacer"></div>

  <span>Login</span>
</mat-toolbar>
<!--<div class="enunciado" style=" padding:30px 3% 0px ;">
  <h3> Los datos que le solicitan en este formulario son estrictamente confidenciales y en ninguna circunstancia
  pueden ser usados con un objeto diferente al procesamiento estadístico por parte del MAG. </h3>
</div>-->
<div class="main" role="main">
    <div class="contenido">
        
		
		<div class="header">
			
		</div>
		<br>
		<div class="login">
            <label>Usuario:</label>
				<input type="text" placeholder="username" name="user"><br>
            <label>Contraseña:</label>
				<input type="password" placeholder="password" name="password"><br>
				<input type="button" value="Login" [routerLink]="'/PaginaA'">
		</div>

    </div>
    </div>
   


   

    
