
<mat-toolbar color="primary">
  <img width="40" alt="Angular Logo" src="../../assets/MGSF.png" />
  <div class="spacer"></div>

  <span>Login</span>
</mat-toolbar>
<!--<div class="enunciado" style=" padding:30px 3% 0px ;">
  <h3> Los datos que le solicitan en este formulario son estrictamente confidenciales y en ninguna circunstancia
  pueden ser usados con un objeto diferente al procesamiento estadístico por parte del MAG. </h3>
</div>-->
<div class="main" role="main">
    <div class="contenido">
        
		
		<div class="header">
			
		</div>
		<br>
		<div class="login">
            <label>Usuario:</label>
				<input type="text" placeholder="username" name="user"><br>
            <label>Contraseña:</label>
				<input type="password" placeholder="password" name="password"><br>
				<input type="button" value="Login" [routerLink]="'/PaginaA'">
		</div>

    </div>
    </div>
   


   

    
