<mat-toolbar color="primary">
  <img width="40" alt="Angular Logo" src="../../assets/MGSF.png" />
  <div class="spacer"></div>

  <span>A. DATOS DE LA ORGANIZACIÓN</span>
</mat-toolbar>
<!--<div class="enunciado" style=" padding:30px 3% 0px ;">
  <h3> Los datos que le solicitan en este formulario son estrictamente confidenciales y en ninguna circunstancia
  pueden ser usados con un objeto diferente al procesamiento estadístico por parte del MAG. </h3>
</div>-->
<div class="main" role="main">

  <div class="contenido">
      <div>

          <div>
            <form [formGroup]="formularioDataA" (ngSubmit)="paginaA(formularioDataA.value)" id="formularioDataA">
              <table>
                <tr>
                    <td><label for="tipoIdentificacion">Tipo de Identificación:</label></td>
                    <td><mat-form-field appearance="fill">
                        <mat-label>Seleccione una Opción</mat-label>
                          <mat-select >
                            <mat-option value="1" onclick="dispone.disabled=false">RUC</mat-option>
                            <mat-option value="2" onclick="dispone.disabled=true">Cédula de Identidad</mat-option>
                          </mat-select>
                      </mat-form-field></td>
                </tr>
                <br>
                <tr>
                    <td><label for="identificacion">Identificacion:</label></td>
                    <td><input [formControl]= "formularioDataA.get('identi') "id="identificacion" formControlName="identi" type="text"></td>

                </tr>
                <br>
                  <tr>
                      <td><label for="razonSocial">Razón Social:</label></td>
                      <td><input id="razonSocial" type="text"></td>
                      <td>(Nombre Completo)</td>
                  </tr>
                  <br>
                  <tr>
                      <td><label for="estadoContribuyente">Estado Contribuyente:</label></td>
                      <td><input [formControl]="formularioDataA.get('estadoContribuyente')" id="estadoContribuyente" formControlName="estadoContribuyente"  type="text"></td>
                  </tr>
                <br>
                <tr>
                    <td><label for="nombreComercial">Nombre Comercial:</label></td>
                    <td><input id="nombreComercial" type="text"></td>
                    <td>(Nombre Completo)</td>
                </tr>
                <br>
                  <tr>
                      <td><label for="tipoSociedad">Tipo de Sociedad:</label></td>
                      <td><input id="tipoSociedad" type="text"></td>
                  </tr>
                  <br>
                  <tr>
                      <td><label for="actividadEconomica">Actividad Económica:</label></td>
                      <td><input id="actividadEconomica" type="text"></td>
                  </tr>
                  <br>
                  <tr>
                      <td><label for="telefonoFijo">Télefono fijo Organización:</label></td>
                      <td><input id="telefonoFijo" type="text"></td>
                  </tr>
                  <br>
                  <tr>
                      <td><label for="telefonoCelular">Télefono celular Organización:</label></td>
                      <td><input id="telefonoCelular" type="text"></td>
                  </tr>
                  <br>
                  <tr>
                      <td><label for="correo">Correo electrónico Organización:</label></td>
                      <td><input id="correo" type="text"></td>
                  </tr>
                  <br>
                  <tr>
                      <td><label for="paginaWeb">Página Web:</label></td>
                      <td><input id="paginaWeb" type="text"></td>
                  </tr>
                  <br>
                  <br>
                  <button mat-raised-button style="background-color: #5cb85c !important; color: white !important;" class="btn-block">Cargar Datos</button>
              </table>
            </form>
        </div>
      </div>



      <div class="botones">
          <button mat-raised-button style="background-color: #5cb85c !important; color: white !important;"  [routerLink]="'/PaginaB'">Siguiente</button>
      </div>


  </div>

  <div class="definiciones">
      <h1>Definiciones</h1>
      <mat-list role="list">
          <mat-list-item role="listitem">Definición 1</mat-list-item>
          <mat-list-item role="listitem">Definición 2</mat-list-item>
          <mat-list-item role="listitem">Definición 3</mat-list-item>
      </mat-list>
  </div>

</div>


