<div class="content">
    <h1>Componente GIS</h1>
    <hr>
    <div fxLayout="row" fxLayoutGap="10px" class="container">
        <div fxLayoutAlign="center center">
            <mat-form-field appearance="fill">
                <mat-label>Provincia</mat-label>
                <mat-select>
                    <mat-option>asd
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayoutAlign="center center">
            <mat-form-field appearance="fill">
                <mat-label>Cantón</mat-label>
                <mat-select>
                    <mat-option>asd
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayoutAlign="center center">
            <mat-form-field appearance="fill">
                <mat-label>Parroquia</mat-label>
                <mat-select>
                    <mat-option>asd
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px" class="container">
        <div fxLayoutAlign="center center">
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Cod. Parroquia</mat-label>
                <mat-select>
                    <mat-option>asd
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayoutAlign="center center">
            <mat-form-field appearance="fill">
                <mat-label>Latitud</mat-label>
                <input matInput type='number' [(ngModel)]='latitud' name='latitud'>
            </mat-form-field>
        </div>
        <div fxLayoutAlign="center center">
            <mat-form-field appearance="fill">
                <mat-label>Longitud</mat-label>
                <input matInput type='number' [(ngModel)]='longitud' name='longitud'>
            </mat-form-field>
        </div>
    </div>
    <div>
        <google-map [center]='position' (mapClick)='onChooseLocation($event)'>
            <map-marker [position]='position' [label]='label' [title]='title'>

            </map-marker>
        </google-map>
    </div>
</div>