<div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Provincia</mat-label>
            <mat-select>
                <mat-option>asd
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Cantón</mat-label>
            <mat-select>
                <mat-option>asd
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Parroquia</mat-label>
            <mat-select>
                <mat-option>asd
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Cod. Parroquia</mat-label>
            <mat-select>
                <mat-option>asd
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Latitud</mat-label>
            <input matInput type='number' [(ngModel)]='latitud' name='latitud'>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Longitud</mat-label>
            <input matInput type='number' [(ngModel)]='longitud' name='longitud'>
        </mat-form-field>
    </div>
    <div>
        <google-map [center]='position'>
            <map-marker [position]='position' [label]='label' [title]='title'>

            </map-marker>
        </google-map>
    </div>
</div>