<div class="content">
    <h1>Datos del Reprensentante legal</h1>
    <div class="campos">
        <label for="cedula">Cédula: </label>
        <mat-form-field appearance="fill">
            <mat-label> </mat-label>
            <input matInput type='number' name='cedula'>
        </mat-form-field>
    </div>

    <div class="campos">
        <label for="nombres">Nombres completos </label>
        <mat-form-field appearance="fill">
            <mat-label> </mat-label>
            <input matInput type='text' name='nombres'>
        </mat-form-field>
    </div>

    <div class="campos">
        <label for="correo">Correo electrónico: </label>
        <mat-form-field appearance="fill">
            <mat-label> </mat-label>
            <input matInput type='email' name='correo'>
        </mat-form-field>
    </div>

    <div class="campos">
        <label for="telefono">Teléfono fijo: </label>
        <mat-form-field appearance="fill">
            <mat-label> </mat-label>
            <input matInput type='number' name='telefono'>
        </mat-form-field>
    </div>

    <div class="campos">
        <label for="celular">Teléfono movil: </label>
        <mat-form-field appearance="fill">
            <mat-label> </mat-label>
            <input matInput type='number' name='celular'>
        </mat-form-field>
    </div>

    <div class="campos">
        <label for="usrc">Usted se registra como: </label>
        <mat-form-field appearance="fill">
            <mat-label> </mat-label>
            <input matInput type='text' name='usrc'>
        </mat-form-field>
    </div>

    <div class="campos">
        <label for="fechaNac">Fecha de nacimiento: </label>
        <mat-form-field appearance="fill">
            <mat-label> </mat-label>
            <input matInput type='date' name='fechaNac'>
        </mat-form-field>
    </div>

    <div class="campos">
        <label for="Edad">Edad: </label>
        <mat-form-field appearance="fill">
            <mat-label> </mat-label>
            <input matInput type='date' name='Edad'>
        </mat-form-field>
    </div>

    <div class="campos">
        <label for="genero">Género: </label>
        <mat-form-field appearance="fill">
            <mat-label>Seleccione una Opción</mat-label>
                <mat-select >
                    <mat-option value="1" >Femenino</mat-option>
                    <mat-option value="2" >Masculino</mat-option>
                    <mat-option value="3" >Otro</mat-option>
                </mat-select>
        </mat-form-field>
    </div>
</div>