<style>
    .spacer {
        margin-left: 5%;
    }

    .main {
        flex-direction: row;
        padding-top: 2%;
        display: flex;
        min-height: 80%;
    }

    .contenido {
        float: left;
        width: 62.5%;
        
        border: 1px solid gray;
        margin-left: 2.5%;
        padding: 1%;
    }

    .definiciones {
        float: right;
        width: 25%;
        border: 1px solid gray;
        margin-left: 2.5%;
        margin-right: 5%;
        padding: 1%;

    }

    mat-form-field {
        margin-left: 1%;
    }

    mat-label {
        margin-left: 1%;

    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    button {
        margin: 1%;
    }

    .botones {
        float: right;
        flex-direction: row;
        display: flex;

    }

    .example-full-width {
        padding-top: 1%;
    }
</style>
<mat-toolbar color="primary">
    <img width="40" alt="Angular Logo" src="../../assets/MGSF.png" />
    <div class="spacer"></div>

    <span>D. DATOS JURÍDICOS DE LA ORGANIZACIÓN</span>
</mat-toolbar>

<div class="main" role="main">
    <div class="contenido">
        <div>
            <h3>1. NÚMERO DE REGISTRO, RESOLUCIÓN O ACUERDO DE LA OBTENCIÓN DE LA PERSONERÍA JURÍDICA DE LA ORGANIZACIÓN</h3>
            <table>
                <tr>
                    <td><input type="radio" id="Decreto" name="tipoRegistro" value="Decreto">Decreto</td>
                    <td><input type="radio" id="Resolucion" name="tipoRegistro" value="Resolucion">Resolución</td>
                    <td><input type="radio" id="ROEPS" name="tipoRegistro" value="ROEPS">ROEPS</td>
                </tr>
                <br>
                
                <br>
            </table>
            <div align="center">
                <td><label for="numRegistro">Número   </label>
                    <input id="numRegistro" type="text"></td>
            </div>
            <br><br>
                <h3>2. ENTIDAD O INSTITUCIÓN QUE OTORGÓ LA PERSONERÍA JURÍDICA</h3>
            <table>
                <tr>
                    <td><input type="radio" id="MAG" name="tipoInstitucion" value="MAG">MAG</td>
                    <td><input type="radio" id="SEPS" name="tipoInstitucion" value="SEPS">SEPS</td>
                    <td><input type="radio" id="MIES" name="tipoInstitucion" value="MIES">MIES</td>
                </tr>
                <br>
            </table> 
            <div align="center">
                <label for="telefonoFijo">Especifique:   </label><br>
                <input type="radio" id="Otro" name="tipoInstitucion" value="Otro">Otro
                
                <input id="telefonoFijo" type="text">
            </div>   
                <br>
                
                <br>
               
        </div>

        
        
        <div class="botones">
            <button mat-raised-button color="warn" [routerLink]="'/PaginaC'">Anterior</button>
            <button mat-raised-button style="background-color: #5cb85c !important; color: white !important;"  [routerLink]="'/PaginaE'">Siguiente</button>
        </div>


    </div>

    <div class="definiciones">
        <h1>Definiciones</h1>
        <mat-list role="list">
            <mat-list-item role="listitem">Definición 1</mat-list-item>
            <mat-list-item role="listitem">Definición 2</mat-list-item>
            <mat-list-item role="listitem">Definición 3</mat-list-item>
        </mat-list>
    </div>

</div>