<mat-toolbar color="primary">
  <img width="40" alt="Angular Logo" src="../../assets/MGSF.png" />
  <div class="spacer"></div>

  <span>I. DATOS DEL ENCUESTADO</span>
</mat-toolbar>


<div class="main" role="main">
  <div class="contenido">
      <div>
        <p>1. ¿Qué socios/as proveen productos agropecuarios a la organización? (productos  y  cantidad annual) </p>
        <!-- <h3>1.  Si la persona que proporcionó los datos no fue el productor o representante legal del establecimiento, plasmar la siguiente información del informante calificado.</h3> -->

          <table>
              <tr>
                  <td><label for="cedula">Número de cédula</label></td>
                  <td><input id="cedula" type="text"></td>
                  <td><label for="Actividades">Actividades Agropecuarias</label></td>
                  <td><input id="nombre" type="text"></td>
              </tr>
              <br>
              <tr>
                  <td><label for="Celular">Rubro</label></td>
                  <td><input id="Fecha" type="text"></td>
                  <td><label for="TelefonoFijo">Actividad Anual</label></td>
                  <td><input type="text"></td>
              </tr>
              <br>
              <tr>
                  <td><label for="Unidad">Unidad Media </label></td>
                  <td><input type="email"></td>
                  <td><label for="Correo Electronico">Tipo de certificaciones y sellos </label></td>
                  <td><input type="email"></td>

              </tr>






          </table>
          <div>
            <h3>Cuenta con algún tipo de certificación</h3>

            <form class="example-form">
                <mat-form-field appearance="fill">
                    <mat-label></mat-label>
                    <select matNativeControl required>
                        <option value="0">Si</option>
                        <option value="1">No</option>
                    </select>
                </mat-form-field>




            </form>
        </div>
        <div>
          <h3>Principales Mercados</h3>

          <form class="example-form">
              <mat-form-field appearance="fill">
                  <mat-label></mat-label>
                  <select matNativeControl required>
                      <option value="0">Venta Finca</option>
                      <option value="1">Agroturismo</option>
                      <option value="2">Feria</option>
                      <option value="3">Canasta</option>
                      <option value="4">Tienda Campesina</option>
                      <option value="5">Punto de Venta</option>
                      <option value="6">Horeca</option>
                      <option value="7">Abastacemiento Directo</option>
                      <option value="8">Supermercados</option>
                      <option value="9">Intermediarios</option>
                  </select>
              </mat-form-field>




          </form>
      </div>

          <!-- <label for="Cedula">Número de cédula</label>          <input id="Cedula" type="text"> <br><br><br>
          <label for="Nombre">Nombre completo</label>
          <input id="Nombre" type="text"><br><br><br>
          <label for="Celular">Celular</label>
          <input id="Celular" type="text"> <br><br><br>
          <label for="Telefono">Telefono fijo</label>
          <input id="Telefono" type="text"><br><br><br>
          <label for="Correo">Correo electronico</label>
          <input id="Correo" type="mail"> <br><br><br>
          <label for="Fecha">Fecha de la encuesta</label>
          <input id="Fecha" type="date"><br><br><br> -->



        <br>
        <br>

      </div>

      <div class="botones">
          <button mat-raised-button color="warn" [routerLink]="'/PaginaH'">Anterior</button>
          <button mat-raised-button style="background-color: #5cb85c !important; color: white !important;"  [routerLink]="'/PaginaJ'">Siguiente</button>
      </div>
    </div>

  <div class="definiciones">
      <h1>Definiciones</h1>
      <mat-list role="list">
          <mat-list-item role="listitem">Definición 1</mat-list-item>
          <mat-list-item role="listitem">Definición 2</mat-list-item>
          <mat-list-item role="listitem">Definición 3</mat-list-item>
      </mat-list>
  </div>

</div>
<style>
  .spacer {
      margin-left: 5%;
  }

  .main {
      flex-direction: row;
      padding-top: 2%;
      display: flex;
      min-height: 80%;
  }

  .contenido {
      float: left;
      width: 62.5%;

      border: 1px solid gray;
      margin-left: 2.5%;
      padding: 1%;
  }

  .definiciones {
      float: right;
      width: 25%;
      border: 1px solid gray;
      margin-left: 2.5%;
      margin-right: 5%;
      padding: 1%;

  }
  textarea.aceptacion{
   width: 90%;

  height: 135px;
  resize: none;
  background-color: rgb(243, 240, 240);
  border: 2px solid black;

}

  mat-form-field {
      margin-left: 1%;
  }

  mat-label {
      margin-left: 1%;

  }

  table {
      border-collapse: collapse;
      width: 100%;
  }

  th,
  td {
      text-align: left;
      padding: 8px;
  }

  tr:nth-child(even) {
      background-color: #f2f2f2;
  }

  button {
      margin: 1%;
  }

  .botones {
      float: right;
      padding-top: 120px;
      margin-top: 120px;
      flex-direction: row;
      display: flex;

  }

  .example-full-width {
      padding-top: 1%;
  }
  .firma{
    margin-left: 14px;
      display: left;
      justify-content: center;
  }
  .fill_apparence{
    margin-left: 256px;
    padding-left: 26px;
  }
  .firma__Encuestado{
    margin-left: 93px;
  }
  canvas {
      padding-left: 0;
      padding-right: 0;
      margin-left: 45px;
      margin-right: 125px;
      display: block;
      border: 2px solid #CCCCCC;
      border-radius: 5px;
      cursor: crosshair;
    }
</style>
<!-- <style>

  .spacer {
        margin-left: 5%;
    }

    .main {
        flex-direction: row;
        padding-top: 2%;
        display: flex;
        min-height: 80%;
    }

    .contenido {
        float: left;
        width: 62.5%;

        border: 1px solid gray;
        margin-left: 2.5%;
        padding: auto;
    }

    .definiciones {
        float: right;
        width: 25%;
        border: 1px solid gray;
        margin-left: 2.5%;
        margin-right: 5%;
        padding: 1%;


    }
    canvas {
      padding-left: 0;
      padding-right: 0;
      margin-left: auto;
      margin-right: auto;
      display: block;
      border: 2px solid #CCCCCC;
      border-radius: 5px;
      cursor: crosshair;
    }
    mat-form-field {
        margin-left: 1%;
    }

    mat-label {
        margin-left: 1%;

    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    button {
        margin: 1%;
    }

    .botones {
        float: right;
        flex-direction: row;
        display: flex;
        margin-top: 400px;
    }

    .example-full-width {
        padding-top: 1%;
    }
div.principal{
  width: 90%;
  padding: 10px;
  overflow: hidden;
}
div.Contenido{
  border: 1px solid #5d87fa;
  width: 60%;
  height: 16.5cm;
  float: left;
}
div.Definiciones{
  border: 1px solid #5d87fa;
  overflow: hidden;
}
label{
  padding-left: 1cm;
  margin-right: 1cm;
}
textarea.def{
  margin: 0 1rem ;
  height: 15cm;
  width:90%;
}
textarea.aceptacion{
  width: 1120px;
  height: 105px;
  background-color: rgb(243, 240, 240);
  border: 2px solid black;

}

.botones {
  margin-top: 2cm;
  float: right;
  flex-direction: row;
}

.fondoBajo{
  width: 1200px;
  height: 14px;

  margin: auto;
  padding: auto;
  height: inherit;
  display: flex;


}
.firma{
  display: left;
}

</style> -->
